/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

  :root {
    --color_primario: #e10098;
    --color_secundario: #ffa5fa;
    --color_terciario: #20b900;
    --color_cuarto: #14cbf1;

    --fuente_primaria: 'Oswald', sans-serif;
    --fuente_secundaria: 'Raleway', sans-serif;; 
  }


  html{
    box-sizing: border-box;
  }

  *,*::after,*::before{
    box-sizing: inherit;
  }

  body{
    background-color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
  }


  /*Globales*/

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type=number] {
    -moz-appearance:textfield;
  }

  .contenedor{
    width: 98%;
    margin: 0 auto;
  }

  @media (min-width: 480px){
    .contenedor{
      width: 95%;
    }
  }

  @media (min-width: 768px){
    .contenedor{
      width: 90%;
    }
  }

  @media (min-width: 992px){
    .contenedor{
      width: 90%;
      max-width: 1100px;
    }
  }

  h2{
    font-family: 'Oswald', sans-serif;
    font-size: 2.4em;
    text-transform: uppercase;
    text-align: center;
  }

  h2::after{
    content: '';
    margin: 0 auto;
    background-image: url(../img/separador.png);
    height: 30px;
    width: 100px;
    display: block;
  }

  h3{
    font-size: 1.8em;
    color: var(--color_terciario);
    font-family: 'PT Sans', sans-serif;
  }

  h4{
    font-size: 1.5em;
    color: var(--color_primario);
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
  }

  ul {
    list-style: none;
    margin:0;
    padding: 0;
  }

  .seccion{
    padding: 30px 0;
  }

  .seccion p{
    font-size: 1.2em;
    text-align: center;
  }

  .float-right{
    float: right;
  }

  /*Header*/

  div.hero{
    background-image: url(../img/hero.jpg);
    width: 100%;
    background-position: top center;
    background-size: cover;
  }

  @media (min-width: 768px){
    div.hero{
      height: 100vh;
    }
  }

  div.contenido-header{
    padding: 20px 20px;
  }

  @media (min-width: 768px){
    div.contenido-header{
      padding-top: 10px;
    }
  }

  nav.redes-sociales{
    text-align: center;
  }

  nav.redes-sociales a{
    color: var(--color_terciario);
    font-size: 2em;
    margin-right: 40px;
  }

  a.log-in{
    display: contents;
    color: white!important;
    text-decoration: none;
    max-width: 40px;
    font-family: var(--fuente_secundaria);
  }

  div.informacion{
    text-align: center;
    color: white;
  }

  @media (min-width: 768px){

    a.log-in{
      float: right;
    }

    div.informacion{
      text-align: center;
      width: 70%;
      margin:0 auto;
      /*margin-top: 50px;*/
    }

    nav.redes-sociales{
      text-align: left;
      margin: 20px;
    }
  }

  div.informacion p{
    margin: 10px;
    display: inline;
    font-size: 15px;
    text-transform: uppercase;
    font-family: var(--fuente_primaria);
  }

  div.informacion p i{
    font-size: 15px;
    color: white;
  }

  p.ciudad{
    float: right;
    text-align: right;
  }

  div.informacion img{
    max-width: 80%;
    display: block;
    margin: 0 auto;
  }

  @media (min-width: 768px){
    div.informacion p,
    div.informacion p i{
      font-size: 30px;
    }
  }

  p.slogan{
    text-transform: none!important;
    font-family: var(--fuente_secundaria)!important;
  }

  p.slogan span{
    font-weight: bold;
  }

  /** Barra **/
  div.barra {
    background-color: #353535;
    padding: 10px 10px;
  }

  div.logo{
    width: 80%;
    float: left;
  }
  
  div.logo img {
    width: 55%;
    height: auto;
  }

  @media only screen and (min-width:768px) {
    div.logo {
      width:33%;
  
    }
  }

  nav.navegacion-principal {
    display: none;
    width: 100%;
  }

  nav.navegacion-principal a {
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    font-size: 1.3em;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .6s ease;
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 20px;
    clear: both;
  }

  nav.navegacion-principal a:hover {
    background-color: var(--color_terciario);
  }

  nav.navegacion-principal a:last-child {
    border: 2px solid var(--color_terciario);
    color: var(--color_terciario);
  }

  nav.navegacion-principal a:last-child:hover {
    color: #ffffff;
  }

  @media (min-width: 768px){
    nav.navegacion-principal {
      width: 67%;
      float: right;
      text-align: right;
      display: block;
    }
    nav.navegacion-principal a {
      padding: 10px 10px;
      width:auto;
      display: inline-block;
      text-align: center;
      margin: 10px auto;
    }
  }

  div.menu-movil {
    width: 50px;
    display: block;
    text-align: center;
    margin: 0 auto;
  }

  div.menu-movil:hover {
    cursor: pointer;
  }

  @media only screen and (min-width: 768px) {
    div.menu-movil {
      display: none;
    }
  }

  div.menu-movil span{
    height: 8px;
    margin-bottom: 6px;
    background-color: white;
    display: block;
    margin-top: 10px;
  }

  

  /* Lista de Productos*/

  .contenido-muestra{
    margin-bottom: 3em;
  }

  div.contenido-muestra img {
    max-width: 100%;
  }

  .lista-productos li {
    float: left;
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    border: 1px solid var(--color_terciario);
    transition: all .3s ease-in-out;
    border-radius: 5px;
  }

  .lista-productos li:hover{
    transform: scale(1.1);
    border: 1px solid  #05770b;
    box-shadow: 0 0 50px #666;
  }

  @media only screen and (min-width: 768px){
    .lista-productos li{
      width: 20%;
      margin: 10px 15px;
    }

    ul.lista-productos{
      margin-left: 5em;
    }
  }


  .lista-productos li p {
    font-family: var(--fuente_primaria);
    color: var(--color_terciario);
    font-size: 28px;
    margin: 10px 0 0 0;
  }
  

  .boton {
    background-color: var(--color_primario);
    padding: 10px 30px;
    margin-top: 10px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    transition: background-color .3s ease-in-out;
    border-radius: 5px;
  }



  /* fecha ano */

  .parallax::before{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    -webkit-filter: brightness(.8);
    filter: brightness(.8);
  }

  div.fecha{
    position: relative;
    height: auto;
  }

  div.fecha::before{
    background-image: url(../img/bg-resumen.jpg);
    content: '';
  }

  ul.numeros-fecha {
    position: relative;
  }

  ul.numeros-fecha li{
    width: 50%;
    float: left;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
  }
  
  @media (min-width: 768px){
    ul.numeros-fecha li{
      width: 25%;
    }
  }

  p.numero{
    font-family: 'Oswald', sans-serif;
    color: var(--color_primario);
    font-size: 4em;
    display: block;
    margin: 0 0 10px 0;
    padding: 20px;
  }

  p.inicio{
    position: relative;
    font-family: 'Oswald', sans-serif;
    color: white;
    text-align: center;
    padding-top: 50px;
    text-transform: uppercase;
    font-size: 2em;
  }


  /*intro-nosotros*/

  div.nosotros{
    padding: 0 10px;
    position: relative;
  }

  div.informacion-nosotros p{
    text-align: justify;
    font-family: var(--fuente_primaria);
    font-size: 1.5em;
  }

  div.icono-nosotros img{
    display: none;
  }

  .bt-ref{
    display: block;
    background-color: transparent;
    color: var(--color_terciario);
    border: 2px solid var(--color_terciario);
    padding: 20px 10px;
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  @media only screen and (min-width: 768px){
    a.bt-ref{
      display: inline;
      width: 40%;
      padding: 10px 20px;
      margin: auto 30px;
    }
  }


  @media only screen and (min-width: 768px){
    div.icono-nosotros img{
      display: inline;
      max-width: 20%!important;
      float: left;
      margin-right: 20px;
    }
  }

  /* Mapa */

  div.mapa {
    margin-top: 40px;
    height: 420px;
    background-color: green;
    box-shadow: 0 0 50px #666;
    margin-bottom: 10px;
  }

  /* Testimoniales */

  div.testimoniales {
    padding-bottom: 20px;
  }

  div.testimonial {
    padding: 5px;
  }

  @media only screen and (min-width:768px){
    div.testimonial {
      float: left;
      width: 33.3%;
    }
  }

  blockquote {
    font-family: var(--fuente_secundaria);
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    position: relative;
    margin: 0 0 10px 0;
    padding-bottom: 20px;
  }

  blockquote p {
    font-family: var(--fuente_secundaria);
    text-align: justify!important;
    font-size: 1em!important;
    font-family: 'PT Sans', sans-serif;
    padding: 0 20px 0 65px;
  }

  blockquote p::before {
    content: '\201c';
    position: absolute;
    left: 13px;
    top: 8px;
    font-size: 8rem;
    margin:0;
    padding:0;
    line-height: 1;
    color:var(--color_terciario);
  }

  footer.info-testimonial {
    padding: 0;
    background-color: transparent;
  }

  footer.info-testimonial img {
    float: left;
    width: 20%;
    border-radius: 50%;
    margin-left: 20px;
  }

  footer.info-testimonial cite {
    text-align: left;
    color: var(--color_terciario);
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 20px;
    width: 66.6%;
    float: right;
    font-weight: bold;
    font-style:normal;
  }

  footer.info-testimonial cite span {
    color: #000000;
    display: block;
    text-transform: none;
    margin-top: 5px;
  }

  /*Galeria*/

  ul.contenedor-galeria img {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
  }

  @media only screen and (min-width:480px) {
    ul.contenedor-galeria li  {
      float: left;
      width: 45%;
      margin-right: 25px;
    }
  }

  @media only screen and (min-width: 768px){
    ul.contenedor-galeria li{
      float: left;
      width: 18%;
      margin-right: 15px;
    }
  }

  ul.contenedor-galeria img:hover{
    transform: scale(1.1);
    border: 1px solid  #05770b;
    box-shadow: 0 0 50px #666;
  }

  a.bt-galeria{
    display: block;
    text-decoration: none;
    border: solid 2px var(--color_terciario);
    color: var(--color_terciario);
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 auto;
    padding: 5px 10px;
  }

  @media only screen and (min-width: 768px){
    a.bt-galeria{
      width: 33.3%;
      position: relative;
      margin: 0 auto;
    }
  }

  /*newsletter*/
  div.newsletter {
    position: relative;
    height: auto;
  }

  div.newsletter::before {
    background-image: url(../img/bg-newsletter.jpg);
    content: '';
  }

  div.newsletter .contenido {
    padding: 30px 0;
    color: #ffffff;
    text-align: center;
    position: relative;
  }

  div.newsletter .contenido p {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
  }

  div.newsletter img{
    position: relative;
    width: 60%;
  }

  .btn-ghost{
    display: block;
    text-decoration: none;
    border: solid 2px white;
    font-family: var(--fuente_primaria);
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px auto;
    padding: 10px 10px;
    box-shadow: 0 0 25px black;
  }

  @media only screen and (min-width: 768px){
    div.newsletter a{
      width: 30%;
    }
  }


  /* ----LOG IN---- */

  div.contenedor-formulario{
    margin: auto;
    padding: 10px 10px;
    width: 90%;
    height: 90%;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
  }

  .tipo-sesion{
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px;
    font-size: 1.2em;
    background-color: transparent;
    color: var(--color_terciario);
    border: none;
    width: 49%;
  }

  div.formulario{
    font-family: var(--fuente_secundaria);
    background-color: rgba(255, 255, 255, 0.507);
    margin: 20px 20px;
    box-shadow: 0 0 25px black;
    border-radius: 10px;
    padding: 20px;
  }

  div.formulario input[type=checkbox] {
    transform: scale(1.5);
  }

  @media only screen and (min-width: 768px){
    div.contenedor-formulario{
      width: 80%;
      padding: 40px 10px;
      margin-top: 40px;
    }

    form.form-registro .parte{
      display: inline-table;
      width: 45%;
    }

    div.parte input{
      margin: 5px auto!important;
      font-size: 1.6em!important;
    }
  }

  div.frame .icono{
    text-align: center;
    font-size: 3.5em;
    margin: 0;
    color: white;
  }

  div.formulario input,
  div.formulario a{
    display: block;
    width: 90%;
    font-size: 1.8em;
    padding: 5px;
    margin: 20px auto;
    color: white;
    font-weight: bold;
    background: transparent;
    border-radius: 5px;
    border: none ;
    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
  }

  div.formulario a, p{
    font-size: 1em;
    text-align: center;
    font-weight: bold;
  }

  .ocultar{
    display: none;
  }

  /** Notificaciones **/
  .notificacion {
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 1rem 3rem;
    opacity: 0;
    transition: opacity .5s ease;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 20px;
    text-align: center;
    font-family: var(--fuente_secundaria);
    font-weight: bold;
  }

  .visible {
    opacity: 1;
  }

  .correcto {
    background-color: var(--color_terciario);
    color: black;
  }
  .error {
    background-color: red;
    color: white;
  }
  .alerta {
    background-color:orange;
    color: black;
  }

  /* ----NOSOTROS---- */

  .doc-nosotros{
    margin-top: 20px;
  }

  div.doc-nosotros span{
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: var(--color_terciario);
    font-family: 'PT Sans', sans-serif;
  }

  div.doc-nosotros h4{
    display: block;
    text-align: center;
    margin-bottom: 10px;
    font-size: 2.2em;
    font-weight: bold;
    font-family: var(--fuente_primaria);
  }

  @media only screen and (min-width: 768px){
    .doc-nosotros a.bt-ref{
      display: inline-block;
      padding: 10px 50px;
      width: 40%;
    }
  }

  div.informacion-nosotros p.h{
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 2em;
  }

  div.informacion-nosotros p.h-dia{
    font-weight: bold;
  }

  /* ----PRODUCTOS---- */
  div.barra-buscar{
    background-color: white;
    padding: 20px 5px;
  }

  .f-buscar{
    font-family: var(--fuente_primaria);
    font-weight: bold;
    font-size: 2em;
  }

  .f-buscar select, .buscar{
    width: 100%;
    margin-top: 10px;
    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
  }

  .bt-buscar{
    display: block;
    margin: 0 auto;
    font-size: 1.5em;
    border: none;
    background-color: transparent;
    color: var(--color_cuarto);
  }

  a.carrito{
    margin: auto 0;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    color: var(--color_terciario);
  }

  @media only screen and (min-width: 768px){
    div.barra-buscar .f-buscar{
      display: flex;
      height: 50px;
      margin: 10px 10px;
    }

    .f-buscar select, .buscar{
      margin-right: 10px;
      margin-top: 0;
      width: 38%;
    }

    a.carrito, .bt-buscar{
      margin: auto 10px;
      font-size: 1em;
    }

  }

  @media only screen and (min-width: 480px){
    .f-buscar select, .buscar{
      margin-right: 10px;
      margin-top: 0;
      width: 43%;
    }
  }

  ul.catalogo li{
    border: 1px solid #999;
    border-radius: 5px;
    font-family: var(--fuente_secundaria);
    text-transform: uppercase;
    width: 90%;
    margin: 15px auto;
    padding: 10px;
    justify-content: space-around;
  }

  ul.catalogo img{
    display: block;
    margin: 0 auto;
    border-radius: 5px;
  }

  p.nombre-p{
    margin: 0 auto;
  }

  .icono-categoria{
    display: inline!important;
    width: 40px;
  }

  p.categoria-precio,
  p.btn-addcar{
    color: var(--color_terciario);
    font-size: 1.8em;
    margin: 0 auto;
  }

  p.btn-addcar:hover{
    cursor: auto;
  }

  @media only screen and (min-width: 480px){
    ul.catalogo li{
      font-size: 1.2em;
      margin: 5px;
      float: left;
      width: 22%;
      height: 350px;
    }

    p.categoria-precio,
    p.btn-addcar{
      font-size: 1.5em;
    }

    p.nombre-p{
      height: 75px;
    }
  }

  @media only screen and (min-width: 768px){
    ul.catalogo li{
      font-size: 1.2em;
      margin: 5px;
      float: left;
      width: 18%;
      height: 350px;
    }
  }


  /* ----ME---- */

  div.barra-me{
    font-family: var(--fuente_secundaria);
    margin: 20px 10px;
    display: flex;
    justify-content: space-between;
  }

  div.barra-me p{
    font-size: 2em;
  }

  .bnts-compras{
    display: flex;
    justify-content: space-between;
  }

  div.compras{
    margin-bottom: 20px;
  }

  /* Footer */

  footer {
    background-color: #353535;
    font-family: var(--fuente_secundaria);
    padding-top: 40px;
  }

  footer .contenedor > div {
    color: #ffffff;
    padding: 0px 20px;
    font-size: 12px;
  }

  @media only screen and (min-width:768px){
    footer .contenedor > div {
      width: 33.3%;
      float: left;
    }
  }
  
  footer h3 {
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 20px;
  }

  footer h3 span {
    color: var(--color_terciario);
  }

  footer .ultimos-tweets li {
    margin-bottom: 10px;
  }
  footer nav.redes-sociales {
    text-align: left;
  }


  p.copyright {
    background-color: #2e2e2e;
    color: #ffffff;
    padding: 10px 0;
    margin:20px 0 0 0;
    text-align: center;
  }
  

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

